@using GigHub.Models
@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (Gig gig in Model)
    {
        <li>@gig.DateTime - @gig.Artist.UserName</li>
    }
</ul>